<h2>Formulario</h2>
<div>
    <div class="field">
        <label for="human-name">Human name: </label>
        <input id="human-name" [(ngModel)]="hero.humanName" placeholder="name human hero">
    </div>
    <div class="field">
        <label for="real=name">Real name: </label>
        <input id="real-name" [(ngModel)]="hero.realName" placeholder="name real hero">
    </div>
    <div class="field">
        <label for="alterego">Alterego: </label>
        <input id="alterego" [(ngModel)]="hero.alterego" placeholder="alterego">
    </div>
</div>