<h2>Detalles de {{ hero.humanName }}</h2>

<div><span>id: </span>{{ hero.id }}</div>
<div *ngIf="hero.humanName"><span>humanName: </span>{{ hero.humanName }}</div>
<div *ngIf="hero.realName"><span>realName: </span>{{ hero.realName }}</div>
<div *ngIf="hero.alterego"><span>alterego: </span>{{ hero.alterego }}</div>

<!-- <pre>{{ hero | json }}</pre> -->
<hr />

<div>
    <div class="field">
        <label for="human-name">Human name: </label>
        <input id="human-name" [(ngModel)]="hero.humanName" placeholder="name human hero">
    </div>
    <div class="field">
        <label for="real=name">Real name: </label>
        <input id="real-name" [(ngModel)]="hero.realName" placeholder="name real hero">
    </div>
    <div class="field">
        <label for="alterego">Alterego: </label>
        <input id="alterego" [(ngModel)]="hero.alterego" placeholder="alterego">
    </div>
</div>

<!-- <pre>{{ heroes | json }}</pre> -->

<ng-container *ngIf="heroes.length > 0; else nonHeroes">
    <h2>Lista de Superheroes</h2>
    <ul>
        <li *ngFor="let hero of heroes">{{ hero.alterego }}</li>
    </ul>
</ng-container>

<ng-template #nonHeroes>
    <p>No hay heroes registrados</p>
</ng-template>





